spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/emergencydb
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  profiles:
    active: docker
